{% extends 'layout.html' %}

{% block head %}
    <script src="/static/js/app.js" defer></script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Boardz</h5>
    </div>
    <div class="container">
        <a href="/" class="btn btn-success mb-3" data-toggle="modal" data-target="#boardsModal">Create new board</a>
        <div id="accordion">
            <div class="row">
                <div class="col-md-12">

                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Boards</h4>
                            </div>
                            <div class="card-body" id="boards-container">


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    {# BOARDS MODAL  #}
    <div class="modal fade" id="boardsModal" tabindex="-1" role="dialog" aria-labelledby="boardsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title:</label>
                            <textarea class="form-control" id="title" name="title"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="sendBoardTitle">Send</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    {#  END BOARDS MODAL  #}

    {# STATUS MODAL #}
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">New Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="statusTitle" class="col-form-label">Title:</label>
                            <textarea class="form-control" id="statusTitle" name="statusTitle"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="sendStatusTitle">Send</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    {# END STATUS MODAL #}


{% endblock %}