{% extends 'layout.html' %}

{% block head %}
    <script type ="module" src="/static/js/app.js" defer></script>
    <script type ="module" src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js" defer  ></script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Boardz</h5>
    </div>
    <div class="container">
        <a href="/" class="btn btn-success mb-3" data-toggle="modal" data-target="#boardsModal">Create new board</a>
        <div id="accordion">
        <div class="row">
            <div class="col-md-12">

                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Boards</h4>
                        </div>
                        <div id="left" class="container">
                            <div id="right" class="container">

                        <div class="card-body" id="boards-container">


                        </div>
                        </div>
                        </div>
                    </div>
               </div>

            </div>
        </div>
        </div>
    <div id="simpleList" class="list-group">
    <div class="list-group-item">This is <a href="http://rubaxa.github.io/Sortable/">Sortable</a></div>
    <div class="list-group-item">It works with Bootstrap...</div>
    <div class="list-group-item">...out of the box.</div>
    <div class="list-group-item">It has support for touch devices.</div>
    <div class="list-group-item">Just drag some elements around.</div>
  </div>


  <!-- List with handle -->
  <div id="listWithHandle" class="list-group">
    <div class="list-group-item">
      <span class="badge">14</span>
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
      Drag me by the handle
    </div>
    <div class="list-group-item">
      <span class="badge">2</span>
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
      You can also select text
    </div>
    <div class="list-group-item">
      <span class="badge">1</span>
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
      Best of both worlds!
    </div>
  </div>
    </div>


{# BOARDS MODAL  #}
    <div class="modal fade" id="boardsModal" tabindex="-1" role="dialog" aria-labelledby="boardsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title:</label>
                            <textarea class="form-control" id="title" name="title"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="sendBoardTitle">Send</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
{#  END BOARDS MODAL  #}

{# STATUS MODAL #}
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">New Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="StatusTitle" class="col-form-label">Title:</label>
                            <textarea class="form-control" id="StatusTitle" name="StatusTitle"></textarea>
                        </div>
                            <button type="sumbit" class="btn btn-primary" id="sendStatusTitle" >Send</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
{# END STATUS MODAL #}


{% endblock %}